@import "https://fonts.googleapis.com/css2?family=Joti+One&display=swap";
* {
  margin: 0;
  padding: 0;
}

.border-radius {
  border-radius: 15px;
}

body {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
  margin: 0;
  padding: 0;
  background-image: url(../resource/abstract-1780242_1280.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: transparent;
  padding: 10px;
  text-align: right;
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  color: #39ee51 !important;
  text-decoration: none;
}

section {
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  gap: 20px;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen img {
  max-width: 100%;
  height: auto;
}

.carousel-item img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 420px;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  width: 250px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #f189f5;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 2px rgb(247, 186, 242);
}
.producto img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
.producto h3 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.producto p {
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
}

.formulario {
  max-width: 400px;
  margin: 0 auto;
}

.campo {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=email] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.botones {
  text-align: center;
}

input[type=submit] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a70fe4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
input[type=submit]:hover {
  background-color: #45456d;
}

input[type=reset] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a70fe4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
input[type=reset]:hover {
  background-color: #45456d;
}

.maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
}

footer {
  background-color: transparent;
  color: #39ee51;
  text-align: center;
  padding: 10px 10px;
}

.redes-sociales {
  text-align: center;
  margin-bottom: 20px;
}

.icono-red-social {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #39ee51;
}
.icono-red-social:hover {
  color: #043f16;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 14px;
    margin-left: 10px;
  }
  .navbar-brand {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .navbar-nav .nav-link {
    font-size: 12px;
    margin-left: 5px;
  }
  .navbar-brand {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
