.producto p, .producto h3, .map-container, .card .card-title,
.card .card-text, h1,
h2 {
  text-align: center;
}

.texto, .imagen, .contenedor-productos, .newsletter .form-group, .newsletter, .footer-content .redes-sociales, .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img, .producto img, .card .card-img-top, .card, .formulario .campo input[type=text],
.formulario .campo input[type=email],
.formulario .campo textarea {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "HighVoltage";
  src: url("../../resource/typo/HighVoltage Rough.ttf");
}
body {
  font-family: "HighVoltage", serif;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
  background-image: url(../../resource/abstract-1780242_1280.png);
  background-size: cover;
}

p {
  font-size: 1.2em;
}

.btn-consultar {
  display: block;
  margin: 0 auto;
  background-color: #a70fe4;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: fit-content;
}
.btn-consultar:hover {
  background-color: #45456d;
}

.formulario {
  max-width: 500px;
  margin: 0 auto;
}
.formulario .campo {
  margin-bottom: 15px;
}
.formulario .campo label {
  display: block;
  margin-bottom: 5px;
}
.formulario .campo input[type=text],
.formulario .campo input[type=email],
.formulario .campo textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formulario .botones {
  text-align: center;
}
.formulario .botones input[type=submit],
.formulario .botones input[type=reset] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a70fe4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.formulario .botones input[type=submit]:hover,
.formulario .botones input[type=reset]:hover {
  background-color: #45456d;
}

.card {
  background-color: transparent;
  border: none;
}
.card .card-img-top {
  height: auto;
  object-fit: cover;
}
.card .card-title,
.card .card-text {
  color: antiquewhite;
}

.footer-content .redes-sociales a {
  margin-right: 10px;
}
.footer-content .redes-sociales .icono-red-social {
  font-size: 24px;
  color: #39ee51;
}
.footer-content .redes-sociales .icono-red-social:hover {
  color: #45456d;
}
.footer-content .derechos-autor {
  text-align: right;
  color: #39ee51;
}
.footer-content .derechos-autor p {
  margin: 0;
}

header {
  background-color: transparent;
  padding: 10px;
  text-align: right;
  display: block;
}
header .navbar-brand a {
  font-size: 1.5em;
}
header .nav-item {
  font-size: 1.5em;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  margin-right: 20px;
}
header nav ul li a {
  color: #39ee51 !important;
  text-decoration: none;
}

.map-container {
  position: relative;
  color: white;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  background-image: url("../../resource/local.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  margin: 30px;
}
.map-container iframe {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50%;
  height: 50%;
}
.map-container p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.newsletter {
  font-family: "HighVoltage", serif;
  color: #39ee51;
  margin-bottom: 20px;
  margin-top: 20px;
}
.newsletter h3,
.newsletter button[type=submit] {
  margin: 0 10px;
}
.newsletter .form-group button[type=submit] {
  background-color: #a70fe4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.newsletter .form-group button[type=submit]:hover {
  background-color: #45456d;
}

.contenedor-productos {
  flex-wrap: wrap;
}

.producto {
  width: 250px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #f189f5;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 2px rgb(247, 186, 242);
}
.producto img {
  display: block;
  border-radius: 5px;
}
.producto h3 {
  margin-top: 10px;
  font-size: 20px;
}
.producto p {
  margin-top: 5px;
  font-size: 16px;
}

.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.btn-whatsapp a {
  color: #fff;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.imagen {
  position: relative;
  overflow: hidden;
}
.imagen a {
  display: block;
  position: relative;
  width: 100%;
  max-width: 50%;
}
.imagen img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  transition: filter 0.3s ease, opacity 0.3s ease;
}
.imagen a:hover img {
  filter: grayscale(100%);
  opacity: 0.7;
}
.imagen a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.imagen a:hover::before {
  opacity: 1;
}

.texto {
  flex-direction: column;
  padding: 20px;
}
.texto h2 {
  margin-top: 0;
}

.carousel-item img {
  max-height: 300px;
  margin: 0 auto;
}

.description p {
  color: antiquewhite;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 14px;
    margin-left: 10px;
  }
  .navbar-brand {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .navbar-nav .nav-link {
    font-size: 12px;
    margin-left: 5px;
  }
  .navbar-brand {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .map-container p {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=main.css.map */